export default {
  // 域名
  url: ['mcxing.cn', 'litf.com.cn', 'ltfei.cn'],
  // 检测周期
  cron: '0 22 * * *',
  // 检测间隔
  interval: 1000,
  // 机器人配置
  bot: {
    // 启用
    enable: true,
    host: 'localhost',
    port: '3000',
    verifyKey: 'abcdef',
    qq: '123456',
    group: '654321'
  }
}